:global html, :global body {
  height: 100%; }

:global body {
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

:global a {
  text-decoration: none;
  cursor: pointer; }

:global #root {
  display: flex;
  height: 100%; }
